html, 
body {
  height: 100%;
  margin:0px; 
  padding:0px;
}

body{
	background-image: url('../images/bodybackground.jpg');
  background-size: 100%;
  min-height: auto;
}

.languages{
  position: relative;
  display: inline-block;
  float: right;
  right: 70px;
  background: #2f3b48;
  border-radius: 10px;
}

#en{
  background-image: url(../images/United-States-Flag.png);
  width: 35px;
  height: 33px;
  background-size: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  margin: 5px;
  animation:Fade 7s;
}

#pt-br{
  background-image: url(../images/Brazil-Flag.png);
  width: 35px;
  height: 34px;
  background-size: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  margin: 5px;
  animation:Fade 7s;
}

#es{
  background-image: url(../images/Spain-Flag.png);
  width: 35px;
  height: 34px;
  background-size: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  margin: 5px;
  animation:Fade 7s;
}

.nav-link{
	margin: 20px;
}

.navbar a{
	font-size: 20px;
	transition: 500ms;
	color: white;
	display: inline-block;
}

.navbar a:hover{
	border-bottom: 2px solid #ffffffa6;
	text-decoration: none;
	color: white;
}

.nav{
	margin-top: 20px;
}

.navbar{
  border-bottom: 1px solid #ffffff4f;
  margin-top: 20px;
}

.TranspBox{
	height: 500px;
	background: transparent;
}

.AboutBox{
	height: 500px;
	background: white;
}

.tudo{
	position: relative;
}