.titulo{
	font-size: 15px;
	text-transform: uppercase;
	padding: 7px;
	font-weight: bold;
	text-align: center;
}

.description{
	padding: 10px 0px 15px;	
	text-align: left;
}

.contact{
	font-weight: bold;	
	text-align: left;
}

.TranspBox{
  height: 100%;
  background: transparent;
  position: relative;
  display: inline-block;
  padding: 0px 120px;
}

.tudo{
	position: relative;
}

.pic{
  background-image: url(../images/handshake.png);
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px;
}

.anuncios{
	background: white; 
	margin: 20px; 
	text-align: center; 
	border-radius: 15px;
}


@media screen and (max-width: 768px){

	.TranspBox{
		padding: 0px 15px;
	}

	.pic{
		margin: 0px;
	}

	.anuncios{
		margin: 20px 0px;
	}

}


