<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../assets/css/styleHome.css">
	<title></title>
</head>
<body>
<!--Menu Desktop-->
	<div class="nav col-lg-12">
		<div class="container">
			<nav class="navbar col-xs-12">
				<a href="#AboutBox" class="nav-link lang" key="About">Sobre</a>
				<a href="" class="nav-link lang" key="WhatWeWant">O Que Queremos</a>
				<a href="" class="nav-link lang" key="Partners">Parceiros</a>
				<div class="languages">
					<button class="translate" id="en"></button>
					<button class="translate" id="pt-br"></button>
					<button class="translate" id="es"></button>
				</div>
			</nav>
		</div>
	</div>
<!--Menu Mobile-->

<div class="tudo">
	<div class="TranspBox col-lg-12 col-xs-12" id="TranspBox">
	</div>

<!--Box About-->
	<div class="AboutBox col-lg-12 col-xs-12" id="AboutBox">
	</div>
</div>
<script src="../assets/js/locale.js"></script>
<script src="../assets/js/scrollMenuFixed.js"></script>
</body>
</html>