<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../assets/css/styleIndex.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title></title>
</head>
<body>
	<svg viewBox="0 0 100 100">
		<g class="group">
			<circle class="big" cx="50" cy="50" r="70.4" />
			<path class="p1" d="M 50.1,55 A 5 5 0 1 0 50,55 " />
			<path class="p2" d="M 65,50.1 A 15 15 0 1 1 65,50 " />
			<path class="p3" d="M 50,25 A 25 25 0 1 0 50,75 " /> 
			<path class="p4" d="M 50,25 A 25 25 0 0 1 50,75 " />
			<path class="p5" d="M 15,50 A 35 35 0 1 1 15,50.1 " />
			<path class="p6" d="M 50,5 A 45 45 0 1 0 50.1,5 " />
			<path class="p7" d="M 50,-5 A 55 55 0 1 0 50.1,-5 " />
			<path class="p8" d="M 50,-15 A 65 65 0 1 0 50.1,-15 " />
		</g>
	</svg>
		<div class="languages">
			<button class="translate" id="en"></button>
			<button class="translate" id="pt-br"></button>
			<button class="translate" id="es"></button>
		</div>
	<div class="BeginBlock">
		<div class="IndexText lang" key="ClickParaSaber">
			clique e saiba mais
		</div>

		<div class="LinkMeew">
			<a href="home.html">
				<div class="box">MeeW</div>
			</a>
		</div>

		<div class="SocialMedia">
			<a href=""><i class="fa fa-instagram"></i></a>
			<a href=""><i class="fa fa-facebook-square"></i></a>
			<a href=""><i class="fa fa-twitter"></i></a>
		</div>
	</div>
<script src="../assets/js/locale.js"></script>
</body>
</html>